/*----*/

.label {
    padding: 10px;
    font-size: 18px;
    color: #111;
}

.copy-text {
    position: relative;
    padding: 10px;
    border: 1px none #ddd;
    border-radius: 10px;
    display: block;
    align-items: center; /* Center children vertically */
}

.copy-text input.text {
    padding: 10px;
    font-size: 18px;
    color: #555;
    border: none;
    outline: none;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    margin-right: 10px;
}

.copy-text button {
    position: relative; /* Added position relative */
    padding: 10px;
    background: #E0DDCF;
    color: #000;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}

.copy-text button:active {
    background: #2D232E;
    color: #fff;
}

.copy-text button::before {
    content: "Coppied";
    position: absolute;
    top: -30px;
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center vertically and horizontally */
    background: #E0DDCF;
    padding: 8px 10px;
    border-radius: 20px;
    font-size: 15px;
    display: none;
}

.copy-text.active button::before,
.copy-text.active button::after {
    display: block;
}